@model ProfileViewModel
@{
    ViewData["Title"] = "Payment Types";
}

<h4>@ViewData["Title"]</h4>

@foreach (var pt in Model.PaymentTypes)
{
<div class="row">
    <span class="col-md-4">@pt.Name</span>
    <span class="col-md-4">xxxx - @pt.AccountNumber.Substring((pt.AccountNumber.Length - 4), 4)</span>
</div>
}