@using BangazonWebApp.Views.Profile

<ul class="nav nav-pills nav-stacked">
    <li class="@ProfileNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">My Account</a></li>
    <li class="@ProfileNavPages.EditNavClass(ViewContext)"><a asp-action="Edit">Edit Account</a></li>
</ul>