@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Last 20 products</h2>

@foreach(var p in Model)
{
   <div>
       <a asp-controller="Products" asp-action="Details" asp-route-id="@p.ProductId">@p.Title</a>
   </div>

}