@model IEnumerable<BangazonWebApp.Models.ProductCategoryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Label)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Label) (@Html.DisplayFor(modelItem => item.ProductCount))
                <ul>
                    @foreach (var product in item.Products)
        {
            <li>@product.Title</li>
}
                </ul>
            </td>
            
        </tr>
}
    </tbody>
</table>
